@keyframes LoaderEnd{
    0%{
        opacity: 1;
    }
    99%{
        opacity:0;
        transform: scale(1)
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes boxCheck{
    from{
        width: 0%;
    }
    to{
        transform: 20%;
    }
}

@keyframes boxCheckChoix{
    from{
        width: 0%;

    }
    to{
        width: 20%;
    }
}

@keyframes fadein {
    from{
        opacity: 0;
        left: -100px;
    }
    to{
        opacity: 1;
        left: 0;
    }
}

@keyframes animCheckRotate{
    from{
        transform: rotateZ(0deg);
        opacity: 0;
    }
    to{
        transform: rotateZ(360deg);
        opacity: 1;
    }
}

@keyframes loaderAnim{
    from{
        transform: rotateZ(0);
    }
    to{
        transform: rotateZ(360deg*3);
    }
}

@keyframes animOpacityImg{
    from{
        opacity: 0;
    }
    to{
        opacity: 1; 
    }
}