@keyframes LoaderEnd {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes boxCheck {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}
@keyframes checkChoixAnim {
  from {
    width: 0;
  }
  to {
    width: 100px;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    margin-bottom: 0px;
  }
  to {
    opacity: 1;
    margin-bottom: 20px;
  }
}
@keyframes animCheckRotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes loaderAnim {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(2520deg);
  }
}
@keyframes animOpacityImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes heartAnim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
* {
  scroll-behavior: smooth;
  transition: 400ms;
}

body {
  font-family: "Roboto";
  font-size: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.shadow {
  box-shadow: 0 6px 12px lightgrey;
}

.btn_explo {
  text-decoration: none;
  padding: 15px;
  border: none;
  border-radius: 30px;
  color: #FFFFFF;
  background: linear-gradient(#FF79DA 0%, #9356DC 80%);
}
.btn_explo:hover {
  cursor: pointer;
  background: linear-gradient(rgba(255, 121, 218, 0.9) 0%, rgba(147, 86, 220, 0.9) 80%);
  box-shadow: 0 7px 15px grey;
}

.btn_commande {
  padding: 15px 45px 15px 45px;
}

/********** Loader index **********/
.pre_loader {
  position: relative;
  z-index: 1;
  background-color: white;
}

.loader {
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: LoaderEnd 1s ease-in-out 4s 1 normal forwards;
}
.loader .loader_bar {
  height: 256px;
  width: 256px;
  border-radius: 300px;
  transform-origin: center;
  transform: rotate(0deg);
  animation: loaderAnim 3s cubic-bezier(0.45, 0, 0, 1.05);
  background: linear-gradient(to left, #FF79DA, #99E2D0);
  border-top: 10px;
}
.loader .loader_bar .loader_empty {
  transform-origin: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 300px;
}
.loader .loader_bar .loader_empty img {
  opacity: 0;
  animation: animOpacityImg 3s 3s forwards;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  transform: rotateZ(0deg);
}
.loader .loader_bar .loader_bar_2 {
  padding: 10px;
  height: 224px;
  width: 224px;
  border-radius: 300px;
  transform-origin: center;
  transform: rotateZ(0deg);
  background: white;
}

/*************** Mobile ***************/
/********** Acceuil **********/
/*****  Header ****768*/
header {
  background: white;
  padding: 10px 0 10px 0;
}
header img {
  width: 15%;
}
@media all and (max-width: 768px) {
  header img {
    width: 45%;
  }
}
header .titre {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
}
header .back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px 10px 0px;
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  top: 0%;
}
header .back a {
  margin: 0% 35% 0% 5%;
}
@media all and (max-width: 768px) {
  header .back a {
    margin: 0 20% 0 5%;
  }
}
header .back a li {
  color: #353535;
  font-size: 1.5em;
}
header .back a i {
  color: #353535;
  font-size: 1.5em;
}

/***** Main *****/
.gps {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 0 5px 0;
  box-shadow: inset 0px 5px 5px 0px #c0c0c0;
}
.gps i {
  margin-right: 15px;
}

.explorez {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.explorez h1 {
  padding: 20px 50px 0 50px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}
.explorez p {
  text-align: center;
  padding: 0 20px 10px 20px;
}

/***** Fonctionnement *****/
.fonctionnement {
  padding: 30px 0 30px 0;
  background-color: white;
}
.fonctionnement h2 {
  padding-left: 15px;
  font-size: 1.4em;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.fonctionnement ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fonctionnement ol li {
  background-color: #F6F6F6;
  padding: 30px 20px 30px 20px;
  border-radius: 20px;
  margin: 25px 15px 0 0;
  font-weight: 600;
  list-style: none;
  width: 50%;
}
@media all and (max-width: 768px) {
  .fonctionnement ol li {
    width: 80%;
  }
}
.fonctionnement ol li i {
  padding: 0 20px 0 20px;
  color: #353535;
}
.fonctionnement ol li:hover {
  background-color: rgba(147, 86, 220, 0.2);
}
.fonctionnement ol li:hover i {
  color: #9356DC;
}
.fonctionnement ol .number_list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  height: 32px;
  width: 32px;
  border-radius: 30px;
  color: white;
  margin-top: -47px;
  right: 34px;
  top: 40px;
}

/***** Restaurant *****/
#restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  padding: 40px 15px 0 15px;
}
@media all and (max-width: 768px) {
  #restaurants {
    display: flex;
    flex-direction: column;
    padding: 40px 15px 0 15px;
  }
}
#restaurants h2 {
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}
@media all and (max-width: 768px) {
  #restaurants h2 {
    justify-content: flex-start;
  }
}
#restaurants .boite_restaurant {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 15px;
  width: 40%;
  position: relative;
}
@media all and (max-width: 768px) {
  #restaurants .boite_restaurant {
    height: 80%;
    width: 100%;
  }
}
#restaurants .boite_restaurant .nouv {
  background-color: #99E2D0;
  color: #40886b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  border-radius: 3px;
  top: 3%;
  right: 2%;
}
#restaurants .boite_restaurant .nouv p {
  font-size: 1em;
  margin: 0;
  padding: 10px;
}
#restaurants .boite_restaurant img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 170px;
}
#restaurants .boite_restaurant a {
  width: 100%;
  text-decoration: none;
  color: black;
}
#restaurants .boite_restaurant h2 {
  width: 100%;
  padding: 20px 0 0 15px;
  font-size: 1.2em;
  line-height: 5px;
  margin: 0;
  display: block;
}
#restaurants .boite_restaurant p {
  padding: 0 0 5px 15px;
  font-size: 1.2em;
  line-height: 5px;
  margin-top: 0;
}
#restaurants .boite_restaurant .favoris {
  position: relative;
  font-size: 1.4em;
  display: flex;
  justify-content: right;
  padding-right: 20px;
}
#restaurants .boite_restaurant .favoris .heart-full {
  z-index: 1;
  display: none;
}
#restaurants .boite_restaurant .favoris .heart-empty {
  position: relative;
  z-index: 2;
}
#restaurants .boite_restaurant .favoris:hover {
  background: linear-gradient(#FF79DA 0%, #9356DC 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
#restaurants .boite_restaurant .favoris:hover .heart-full {
  display: contents;
}
#restaurants .boite_restaurant .favoris:hover .heart-empty {
  position: absolute;
}

.menu_global {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
}

.images_menu {
  position: fixed;
  z-index: 1;
  top: 7%;
}
@media screen and (max-width: 768px) {
  .images_menu {
    width: 100%;
  }
}
.images_menu img {
  width: 1920px;
}
@media all and (max-width: 768px) {
  .images_menu img {
    width: 100%;
  }
}

.titre_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  width: 85%;
}
.titre_menu h1 {
  font-size: 1.5em;
}
.titre_menu .favoris_menu {
  position: relative;
  font-size: 1.5em;
}
.titre_menu .favoris_menu .heart-full {
  z-index: 1;
  display: none;
}
.titre_menu .favoris_menu .heart-empty {
  z-index: 2;
}
.titre_menu .favoris_menu:hover {
  background-clip: text;
  background: linear-gradient(#FF79DA 0%, #9356DC 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titre_menu .favoris_menu:hover .heart-full {
  display: contents;
  transform-origin: center;
}
.titre_menu .favoris_menu:hover .heart-empty {
  position: absolute;
}

/**
                    i{
        font-size: 1.5em;
        &:hover{
            background-clip: text;
            background: linear-gradient($cl-secondaire 0%, $cl-primaire 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    **/
.contenu_global_menu {
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EAEAEA;
  position: relative;
  z-index: 2;
  margin-top: 10%;
  width: 50%;
}
@media all and (max-width: 768px) {
  .contenu_global_menu {
    margin-top: 60%;
    width: 100%;
  }
}
.contenu_global_menu h1 {
  font-family: "Shrikhand";
  font-weight: 300;
}
.contenu_global_menu a {
  margin: 10% 0 20% 0;
}

/***** Menu *****/
.border_titre_menu {
  border-bottom: solid 4px #99E2D0;
  width: 12%;
  height: 45px;
  margin-left: 4%;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 93%;
}
.menu h1 {
  font-family: "Roboto";
  font-weight: lighter;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.2em;
}

.contenu_menu {
  background-color: white;
  border-radius: 15px;
  width: 100%;
  transition: ease-in-out 0.7s;
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 768px) {
  .contenu_menu {
    width: 100%;
  }
}
.contenu_menu .contenu_menu_text {
  padding: 10px;
  width: 100%;
}
.contenu_menu .contenu_menu_text h2 {
  font-size: 1.2em;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.contenu_menu .contenu_menu_text .sous_contenu_menu {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.contenu_menu .contenu_menu_text .sous_contenu_menu p {
  margin: 0;
  font-size: 1em;
  font-weight: lighter;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.contenu_menu .contenu_menu_text .sous_contenu_menu h3 {
  font-size: 0.9em;
  margin: 0;
  padding-left: 2%;
}
.contenu_menu .check_choix {
  transition: all ease-in-out 1s;
  color: white;
  background-color: #99E2D0;
  justify-content: center;
  align-content: center;
  border-radius: 0 15px 15px 0;
  display: none;
  width: 0px;
}
.contenu_menu .check_choix i {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.contenu_menu:hover {
  transition: all ease-in-out 1s;
}
@media all and (max-width: 768px) {
  .contenu_menu:hover .contenu_menu_text {
    width: 90%;
    transition: all ease-in-out 0.7s;
    overflow: hidden;
  }
}
.contenu_menu:hover .check_choix {
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.7s;
  animation: checkChoixAnim 0.7s ease-in-out forwards;
}
.contenu_menu:hover .check_choix i {
  display: flex;
  font-size: 1.5em;
  animation: animCheckRotate 0.7s ease-in-out;
}

.anim {
  display: flex;
  align-items: center;
}

.anim {
  animation: fadein 3s linear;
  animation-fill-mode: forwards;
  animation-duration: 0ms;
  animation-delay: 0ms;
  position: relative;
}
.anim:nth-child(1) {
  animation-duration: 250ms;
  -webkit-animation-duration: 250ms;
}
.anim:nth-child(2) {
  animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
}
.anim:nth-child(3) {
  animation-duration: 750ms;
  -webkit-animation-duration: 750ms;
}
.anim:nth-child(4) {
  animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
}
.anim:nth-child(5) {
  animation-duration: 1250ms;
  -webkit-animation-duration: 1250ms;
}
.anim:nth-child(6) {
  animation-duration: 1500ms;
  -webkit-animation-duration: 1500ms;
}
.anim:nth-child(7) {
  animation-duration: 1750ms;
  -webkit-animation-duration: 1750ms;
}
.anim:nth-child(8) {
  animation-duration: 2000ms;
  -webkit-animation-duration: 2000ms;
}
.anim:nth-child(9) {
  animation-duration: 2250ms;
  -webkit-animation-duration: 2250ms;
}
.anim:nth-child(10) {
  animation-duration: 2500ms;
  -webkit-animation-duration: 2500ms;
}
.anim:nth-child(11) {
  animation-duration: 2750ms;
  -webkit-animation-duration: 2750ms;
}
.anim:nth-child(12) {
  animation-duration: 3000ms;
  -webkit-animation-duration: 3000ms;
}

/********** Footer **********/
footer {
  background-color: #353535;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
footer img {
  margin: 1% 0 0 2%;
  width: 15%;
  fill: white;
}
@media all and (max-width: 768px) {
  footer img {
    margin: 2% 0 0 5%;
    width: 30%;
  }
}
footer nav ul {
  list-style-type: none;
}
footer nav ul li {
  padding-bottom: 10px;
}
footer nav ul li a {
  text-decoration: none;
  color: white;
}
footer nav ul li a i {
  padding-right: 10px;
}
footer nav ul li a:hover {
  color: #9356DC;
}

/*************** PC ***************/

/*# sourceMappingURL=style.css.map */
