@keyframes LoaderEnd {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes boxCheck {
  from {
    width: 0%;
  }
  to {
    transform: 20%;
  }
}
@keyframes boxCheckChoix {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    left: -100px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes animCheckRotate {
  from {
    transform: rotateZ(0deg);
    opacity: 0;
  }
  to {
    transform: rotateZ(360deg);
    opacity: 1;
  }
}
@keyframes loaderAnim {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(1080deg);
  }
}
@keyframes animOpacityImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  scroll-behavior: smooth;
  transition: 400ms;
}

body {
  font-family: "Roboto";
  font-size: 100%;
  margin: 0;
  background-color: #FFFFFF;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.shadow {
  box-shadow: 0 6px 12px lightgrey;
}

.btn_explo {
  text-decoration: none;
  padding: 15px;
  border: none;
  border-radius: 30px;
  color: #FFFFFF;
  background: linear-gradient(#FF79DA 0%, #9356DC 80%);
}
.btn_explo:hover {
  cursor: pointer;
}

.btn_commande {
  padding: 15px 45px 15px 45px;
}

/********** Loader index **********/
.pre_loader {
  position: relative;
  z-index: 1;
  background-color: white;
}

.loader {
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: LoaderEnd 1s ease-in-out 4s 1 normal forwards;
}
.loader .loader_bar {
  height: 256px;
  width: 256px;
  border-radius: 300px;
  transform-origin: center;
  transform: rotate(0deg);
  animation: loaderAnim 3s cubic-bezier(0.45, 0, 0, 1.05);
  background: linear-gradient(to left, #FF79DA, #99E2D0);
  border-top: 10px;
}
.loader .loader_bar .loader_empty {
  transform-origin: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 300px;
}
.loader .loader_bar .loader_empty img {
  opacity: 0;
  animation: animOpacityImg 3s 3s forwards;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  transform: rotateZ(0deg);
}
.loader .loader_bar .loader_bar_2 {
  padding: 10px;
  height: 224px;
  width: 224px;
  border-radius: 300px;
  transform-origin: center;
  transform: rotateZ(0deg);
  background: white;
}

/********** Acceuil **********/
/*****  Header *****/
@media all and (max-width: 768px) {
  header {
    background: white;
    padding: 10px 0 10px 0;
  }
  header img {
    width: 45%;
  }
  header .titre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
  }
  header .back {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px 10px 0px;
    z-index: 3;
    position: fixed;
    width: 100%;
    background-color: #EAEAEA;
    top: 0%;
  }
  header .back a {
    margin: 0% 20% 0% 5%;
  }
  header .back a li {
    color: #353535;
    font-size: 1.5em;
  }
  header .back a i {
    color: #353535;
    font-size: 1.5em;
  }

  /***** Main *****/
  .gps {
    background-color: #EAEAEA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 0 5px 0;
    box-shadow: inset 0px 5px 5px 0px #c0c0c0;
  }
  .gps i {
    margin-right: 15px;
  }

  .explorez {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }
  .explorez h1 {
    padding: 20px 50px 0 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
  }
  .explorez p {
    text-align: center;
    padding: 0 20px 10px 20px;
  }

  /***** Fonctionnement *****/
  .fonctionnement {
    padding: 30px 0 30px 0;
    background-color: white;
  }
  .fonctionnement h2 {
    padding-left: 15px;
    font-size: 1.4em;
    font-weight: 600;
  }
  .fonctionnement ol li {
    background-color: #F6F6F6;
    padding: 30px 20px 30px 20px;
    border-radius: 20px;
    margin: 25px 15px 0 0;
    font-weight: 600;
    list-style: none;
  }
  .fonctionnement ol li i {
    padding: 0 20px 0 20px;
    color: #353535;
  }
  .fonctionnement ol li:hover {
    background-color: rgba(147, 86, 220, 0.2);
  }
  .fonctionnement ol li:hover i {
    color: #9356DC;
  }
  .fonctionnement ol .number_list {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9356DC;
    height: 32px;
    width: 32px;
    border-radius: 30px;
    color: white;
    margin-top: -1%;
  }

  /***** Restaurant *****/
  #restaurants {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    padding: 40px 15px 0 15px;
  }
  #restaurants .boite_restaurant {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 15px;
    height: 80%;
  }
  #restaurants .boite_restaurant .nouv {
    background-color: #99E2D0;
    color: #40886b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 3px;
  }
  #restaurants .boite_restaurant .nouv p {
    font-size: 1em;
  }
  #restaurants .boite_restaurant img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 170px;
  }
  #restaurants .boite_restaurant a {
    width: 100%;
    text-decoration: none;
    color: black;
  }
  #restaurants .boite_restaurant h2 {
    padding: 20px 0 0 15px;
    font-size: 1.2em;
    line-height: 5px;
    margin: 0;
  }
  #restaurants .boite_restaurant p {
    padding: 0 0 5px 15px;
    font-size: 1.2em;
    line-height: 5px;
    margin-top: 0;
  }
  #restaurants .boite_restaurant .fa-heart {
    position: relative;
    left: 85%;
    font-size: 1.3em;
  }
  #restaurants .boite_restaurant .fa-heart:hover {
    display: none;
  }

  .menu_global {
    background-color: #EAEAEA;
  }

  .images_menu {
    position: fixed;
    z-index: 1;
    top: 7%;
  }

  .titre_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
    width: 85%;
  }
  .titre_menu h1 {
    font-size: 1.5em;
  }
  .titre_menu i {
    font-size: 1.5em;
  }

  .contenu_global_menu {
    border-radius: 40px 40px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAEAEA;
    position: relative;
    z-index: 2;
    margin-top: 60%;
  }
  .contenu_global_menu h1 {
    font-family: "Shrikhand";
    font-weight: 300;
  }
  .contenu_global_menu a {
    margin: 10% 0 20% 0;
  }

  /***** Menu *****/
  .border_titre_menu {
    border-bottom: solid 4px #99E2D0;
    width: 12%;
    height: 45px;
    margin-left: 4%;
    margin-bottom: 20px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 93%;
  }
  .menu h1 {
    font-family: "Roboto";
    font-weight: lighter;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.2em;
  }

  .contenu_menu {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    width: 95%;
    transition: ease-in-out 0.5s;
  }
  .contenu_menu h2 {
    font-size: 1.2em;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .contenu_menu .sous_contenu_menu {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  .contenu_menu .sous_contenu_menu p {
    margin: 0;
    font-size: 1em;
    font-weight: lighter;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .contenu_menu .sous_contenu_menu h3 {
    font-size: 0.9em;
    margin: 0;
    padding-left: 2%;
  }
  .contenu_menu:hover {
    width: 75%;
    border-radius: 15px 0px 0px 15px;
    transition: all ease-in-out 0.5s;
  }
  .contenu_menu:hover + .check_choix {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #99E2D0;
    animation: boxCheckChoix 0.5s ease;
    animation-fill-mode: forwards;
  }
  .contenu_menu:hover + .check_choix i {
    animation: animCheckRotate 0.5s ease-in-out;
    display: block;
  }
  .contenu_menu + .check_choix {
    background-color: #99E2D0;
    transition: ease-in-out 0.5s;
    width: 0%;
  }

  .anim {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .anim .check_choix {
    height: 67px;
    width: 0%;
    border-radius: 0px 15px 15px 0px;
    transition: ease-in-out 0.5s;
  }
  .anim .check_choix i {
    display: none;
    font-size: 1.5em;
    color: white;
  }

  .anim {
    animation: fadein 3s linear;
    animation-fill-mode: forwards;
    animation-duration: 0ms;
    animation-delay: 0ms;
    position: relative;
  }
  .anim:nth-child(1) {
    animation-duration: 250ms;
    -webkit-animation-duration: 250ms;
  }
  .anim:nth-child(2) {
    animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
  }
  .anim:nth-child(3) {
    animation-duration: 750ms;
    -webkit-animation-duration: 750ms;
  }
  .anim:nth-child(4) {
    animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
  }
  .anim:nth-child(5) {
    animation-duration: 1250ms;
    -webkit-animation-duration: 1250ms;
  }
  .anim:nth-child(6) {
    animation-duration: 1500ms;
    -webkit-animation-duration: 1500ms;
  }
  .anim:nth-child(7) {
    animation-duration: 1750ms;
    -webkit-animation-duration: 1750ms;
  }
  .anim:nth-child(8) {
    animation-duration: 2000ms;
    -webkit-animation-duration: 2000ms;
  }
  .anim:nth-child(9) {
    animation-duration: 2250ms;
    -webkit-animation-duration: 2250ms;
  }
  .anim:nth-child(10) {
    animation-duration: 2500ms;
    -webkit-animation-duration: 2500ms;
  }
  .anim:nth-child(11) {
    animation-duration: 2750ms;
    -webkit-animation-duration: 2750ms;
  }
  .anim:nth-child(12) {
    animation-duration: 3000ms;
    -webkit-animation-duration: 3000ms;
  }

  /********** Footer **********/
  footer {
    background-color: #353535;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 2;
  }
  footer img {
    width: 30%;
    fill: white;
  }
  footer nav ul {
    list-style-type: none;
  }
  footer nav ul li {
    padding-bottom: 10px;
  }
  footer nav ul li a {
    text-decoration: none;
    color: white;
  }
  footer nav ul li a i {
    padding-right: 10px;
  }
  footer nav ul li a:hover {
    color: #9356DC;
  }
}

/*# sourceMappingURL=style.css.map */
