$cl-primaire: #9356DC;
$cl-secondaire: #FF79DA;
$cl-tertiaire: #99E2D0;
$cl-tertiaire-text:#40886b;

$cl-box-un: #EAEAEA;
$cl-box-deux: #F6F6F6;
$cl-box-trois: #353535;

@import 'keyframes';


*{
    scroll-behavior: smooth;
    transition: 400ms;
}

body{
    font-family: 'Roboto';
    font-size: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.shadow{
    box-shadow: 0 6px 12px lightgrey;
}

.btn_explo{
    text-decoration: none;
    padding: 15px;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    background: linear-gradient($cl-secondaire 0%, $cl-primaire 80%);
    
    &:hover{
        cursor: pointer;
        background: linear-gradient(rgba(255, 121, 218, 0.9) 0%, rgba(147, 86, 220, 0.9) 80%);
        box-shadow: 0 7px 15px grey;
    }
}

.btn_commande{
    padding: 15px 45px 15px 45px;
}

    /********** Loader index **********/

    .pre_loader{
        position: relative;
        z-index: 1;
        background-color: white;
    }

    .loader{
        position: fixed;
        z-index: 2;
        background-color: white;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: LoaderEnd 1s ease-in-out 4s 1 normal forwards;
        .loader_bar{
            height: 256px;
            width: 256px;
            border-radius: 300px;
            transform-origin: center;
            transform: rotate(0deg);
            animation: loaderAnim 3s cubic-bezier(0.45 ,0 ,0 ,1.05);
            background: linear-gradient(to left, $cl-secondaire, $cl-tertiaire);
            border-top: 10px;

            .loader_empty{
                transform-origin: center;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 300px;
                img{
                    opacity: 0;
                    animation: animOpacityImg 3s  3s  forwards;
                    animation-delay: 2s;
                    animation-fill-mode: forwards;
                    transform: rotateZ(0deg);

                }
            }
            .loader_bar_2{
                padding: 10px;
                height: 224px;
                width: 224px;
                border-radius: 300px;
                transform-origin: center;
                transform: rotateZ(0deg);
                background: white;
            }
        }

    }

/*************** Mobile ***************/
    /********** Acceuil **********/
        /*****  Header ****768*/


        header{
            background: white;
            padding: 10px 0 10px 0;
            img{
                width: 15%;
                @media all and (max-width:768px) {
                    width: 45%;
                }
            }
            .titre{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0px 10px 0px
            }
            .back
            {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 10px 0px 10px 0px;
                z-index: 3;
                position: fixed;
                width: 100%;
                height: 50px;
                background-color: $cl-box-un;
                top: 0%;
                a{
                    margin: 0% 35% 0% 5%;
                    @media all and (max-width:768px){
                        margin: 0 20% 0 5%;
                    }
                    li{
                        color: $cl-box-trois;
                        font-size: 1.5em;
                    }
                    i{
                        color: $cl-box-trois;
                        font-size: 1.5em;
                    }
                }
            }
        }

            /***** Main *****/

        .gps{
            background-color: $cl-box-un;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 5px 0 5px 0;
            box-shadow: inset 0px 5px 5px 0px #c0c0c0;
            i{
                margin-right: 15px;
            }
        }
        .explorez{
            background-color: $cl-box-deux;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 40px;
            h1{
                padding: 20px 50px 0 50px;
                margin: 0 auto;
                text-align: center;
                font-size: 1.5em;
            }
            p{
                text-align: center;
                padding: 0 20px 10px 20px;
            }
        }

            /***** Fonctionnement *****/

            .fonctionnement{
                padding: 30px 0 30px 0;
                background-color: white;
                h2{
                    padding-left: 15px;
                    font-size: 1.4em;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                }
                ol{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    li{
                        background-color: $cl-box-deux;
                        padding: 30px 20px 30px 20px;
                        border-radius: 20px;
                        margin: 25px 15px 0 0;
                        font-weight: 600;
                        list-style: none;
                        width: 50%;
                        @media all and (max-width: 768px) {
                            width: 80%;
                        }
                        i{
                            padding: 0 20px 0 20px;
                            color: $cl-box-trois;
                        }
                        &:hover{
                            background-color: rgba($color: #9356DC, $alpha: 0.2);
                            i{
                                color: $cl-primaire;
                            }
                        }
    
                    }
                .number_list{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $cl-primaire;
                    height: 32px;
                    width: 32px;
                    border-radius: 30px;
                    color: white;
                    margin-top: -47px;
                    right: 34px;
                    top: 40px;
                    
                }
            }
        }

                /***** Restaurant *****/

                #restaurants{
                    background-color: $cl-box-deux;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    align-content: center;

                    padding: 40px 15px 0 15px;
                    @media all and (max-width:768px){
                        display: flex;
                        flex-direction: column;
                        padding: 40px 15px 0 15px;
                    }
                    h2{
                        width: 100%;
                        margin-bottom: 5%;
                        display: flex;
                        justify-content: center;
                        @media all and (max-width:768px) {
                            justify-content: flex-start;
                        }
                    }
                    .boite_restaurant{
                        background-color: white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 20px;
                        border-radius: 15px;
                        width: 40%;
                        @media all and (max-width: 768px) {
                            height: 80%;
                            width: 100%;
                        }
                        .nouv{
                            background-color: $cl-tertiaire;
                            color: $cl-tertiaire-text;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            z-index: 2;
                            border-radius: 3px;
                            margin-top: 10px;
                            margin-left: 28%;
                            @media all and (max-width: 768px) {
                                margin-bottom: 46%;
                                margin-left: 66%;
                            }
                            p{
                                font-size: 1em;
                                margin: 0;
                                padding: 10px;
                            }
                        }
                        img{
                            border-radius: 15px 15px 0 0;
                            width: 100%;
                            height: 170px;
                        }
                        a{
                            width: 100%;
                            text-decoration: none;
                            color: black;

                        }
                        h2{
                            width: 100%;
                            padding: 20px 0 0 15px;
                            font-size: 1.2em;
                            line-height: 5px;
                            margin: 0;
                            display: block;
                        }
                        p{
                            padding: 0 0 5px 15px;
                            font-size: 1.2em;
                            line-height: 5px;
                            margin-top: 0;
                        }
                        .fa-heart{
                            position: relative;
                            left: 85%;
                            font-size: 1.3em;
                            &:hover{
                                fill: #40886b;
                            }
                        }

                    }
                }
                .menu_global{
                    background-color: $cl-box-un;
                    display: flex;
                    justify-content: center;
                }
                .images_menu{
                    position: fixed;
                    z-index: 1;
                    top: 7%;
                    @media screen and (max-width: 768px) {
                        width: 100%;

                    }
                    img{
                        width: 1920px;
                        @media all and (max-width: 768px) {
                            width: 100%;
                        }
                    }
                }
                .titre_menu{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 15px 0 15px;
                    width: 85%;
                    h1{
                        font-size: 1.5em;
                    }
                    i{
                        font-size: 1.5em;
                        &:hover{
                            background-clip: text;
                            background: linear-gradient($cl-secondaire 0%, $cl-primaire 80%);
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }

                .contenu_global_menu{
                    border-radius: 40px 40px 0px 0px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: $cl-box-un;
                    position: relative;
                    z-index: 2;
                    margin-top: 10%;
                    width: 50%;
                    @media all and (max-width: 768px) {
                        margin-top: 60%;
                        width: 100%;
                    }   
                    h1{
                        font-family: 'Shrikhand';
                        font-weight: 300;
                    }
                    a{
                        margin: 10% 0 20% 0;
                    }
                }

                /***** Menu *****/

                .border_titre_menu{
                    border-bottom: solid 4px $cl-tertiaire ;
                    width: 12%;
                    height: 45px;
                    margin-left: 4%;
                    margin-bottom: 20px;
                }

                .menu{
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    width: 93%;
                    h1{
                        font-family: 'Roboto';
                        font-weight: lighter;
                        font-style: normal;
                        text-transform: uppercase;
                        font-size: 1.2em;
                    }
                }

                .contenu_menu{
                    background-color: white;
                    border-radius: 15px;
                    width: 100%;
                    transition: ease-in-out 0.7s;
                    display: flex;
                    justify-content: space-between;
                    @media all and (max-width:768px) {
                        width: 100%;
                    }
                    .contenu_menu_text{
                        padding: 10px;
                        width: 100%;
                        h2{
                            font-size: 1.2em;
                            margin: 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .sous_contenu_menu{
                            display: flex;
                            justify-content: space-between;
                            overflow: hidden;
                            p{
                                margin: 0;
                                font-size: 1em;
                                font-weight: lighter;
                                padding-bottom: 5px;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden; 
                            }
                            h3{
                                font-size: 0.9em;
                                margin: 0;
                                padding-left: 2%;
                            }
                        }
                    }

                    .check_choix{
                        transition: all ease-in-out 1s;
                        color: white;
                        background-color: $cl-tertiaire;
                        justify-content: center;
                        align-content: center;
                        border-radius: 0 15px 15px 0;
                        display: none;
                        width: 0px;
                        i{
                            font-size: 1.2em;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                        }
                    }
                    &:hover{
                        transition: all ease-in-out 1s;
                        .contenu_menu_text{
                            @media all and (max-width: 768px) {
                                width: 90%;
                                transition: all ease-in-out 0.7s;
                                overflow: hidden;
                            }
                        }
                        .check_choix{
                            display: flex;
                            align-items: center;
                            transition: all ease-in-out 0.7s;
                            animation: checkChoixAnim 0.7s ease-in-out forwards;
                            i{
                                display: flex;
                                font-size: 1.5em;

                                animation: animCheckRotate 0.7s ease-in-out;
                            }
                        }
                    }

                }


                .anim{
                    display: flex;
                    align-items: center;
                }

                .anim{
                    animation: fadein 3s linear;
                    animation-fill-mode: forwards;
                    animation-duration: 0ms;
                    animation-delay: 0ms;
                    position: relative;
                    @for $i from 1 through 12{
                        &:nth-child(#{$i}){
                            animation-duration: $i*250ms;
                            -webkit-animation-duration: $i*250ms;
                        }
                    }
                }




        /********** Footer **********/

        footer{
            background-color: $cl-box-trois;
            color: white;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items:  flex-start;
            position: relative;
            z-index: 2;
            img{
                margin: 1% 0 0 2%;
                width: 15%;
                fill: white;
                @media all and (max-width: 768px) {
                    margin: 2% 0 0 5%;
                    width: 30%;
                }
            }
            nav{
                ul{
                    list-style-type: none;
                    li{
                        padding-bottom: 10px;
                        a{
                            text-decoration: none;
                            color: white;
                            i{
                                padding-right: 10px;
                            }
                            &:hover{
                                color: $cl-primaire;
                            }
                        }
                    }
                }
            }
        }
        
    

/*************** PC ***************/

        